<h1>Spacer API</h1>
<p>Hi <%= @user.email %>,</p>
<p>
Welcome to the Spacer app! Click on the link below to activate your account:
</p>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email, host: 'spacer-repetition-api.herokuapp.com', protocol: 'https') %>
