<h1>It is practice time!</h1>

<p>
  You have concepts and terms that need to be reviewed! The best way to get
  something in your long term memory is to use
  <a href="https://en.wikipedia.org/wiki/Spaced_repetition">
    spaced repetition
  </a>, so make sure you review these concepts (created by yourself because
  you wanted to memorize them).
</p>

<%= link_to 'Start review', @url %>

